@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Lexend", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  background: #ffffff;
}

:root {
  --logoSize: 50px;
  --paddingNavBar: 30px;
  --fa-size: 28px;
}

nav {
  width: 100%;
  height: 85px;
  background: #ffffff;
  position: absolute;
  z-index: 1;
}

.containerNavBar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: var(--paddingNavBar);
  padding-right: var(--paddingNavBar);
}

.containerNavBar .logo {
  width: 65px;
  height: 65px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.containerNavBar .logo img {
  width: var(--logoSize);
  height: calc(var(--logoSize) + 5px);
}

.containerNavBar button {
  height: 35px;
  border-radius: 8px;
  background: #6b0206;
  color: white;
  font-weight: 600;
  border: 2px solid white;
  font-size: 21px;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 80ms ease-in-out;
}

.containerNavBar button:active {
  transform: scale(0.9);
}

.containerNavBar button:hover {
  cursor: pointer;
}

.containerNavBar button.reg {
  background-color: white;
  color: #6b0206;
}

.containerNavBar .sections {
  display: flex;
  gap: 50px;
}

.sections a {
  color: #6b0206;
  font-size: 22px;
  font-weight: 600;
  transition: all 80ms ease-in-out;
}

.sections a:hover {
  text-decoration: underline 3px white;
  transform: scale(0.9);
}

.icons .circuloIcon i.fa-config {
  font-size: var(--fa-size);
  color: #6b0206;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.icons .circuloIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  transition: all 80ms ease-in-out;
}

.icons .circuloIcon:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.mobile-menu {
  display: none;
}

/*Fundo*/

.backgroud {
  width: 100%;
  height: 86vh;
  position: absolute;
}

.bolinhaPequena01 {
  background: #ff9eab;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 20%;
  left: 94%;
}

.bolinhaMedia01 {
  background: #bfc9ff;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: absolute;
  top: 28%;
  left: 80%;
}

.bolinhaMedia02 {
  background: #ff9eab;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: absolute;
  top: 10%;
  left: 40%;
}

.bolinhaPequena02 {
  background: #bfc9ff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 16%;
  left: 64%;
}

.bolinhaMedia03 {
  background: #ff9eab;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: absolute;
  top: 9%;
  left: 80%;
}

.bolinhaPequena03 {
  background: #bfc9ff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 45%;
  left: 97.9%;
}

.bolinhaMedia04 {
  background: #ff9eab;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: absolute;
  top: 38%;
  left: 65%;
}

.bolinhaPequena04 {
  background: #bfc9ff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 40%;
  left: 47.5%;
}

.bolinhaMedia05 {
  background: #ff9eab;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: absolute;
  top: 35%;
  left: 28%;
}

.bolinhaPequena05 {
  background: #bfc9ff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 18%;
  left: 20%;
}

.bolinhaPequena06 {
  background: #ff9eab;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 35%;
  left: 3%;
}

.bolinhaMedia06 {
  background: #bfc9ff;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: absolute;
  top: 10%;
  left: 0%;
}

.bolinhaMedia07 {
  background: #bfc9ff;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: absolute;
  top: 55%;
  left: 20%;
}

.bolinhaPequena07 {
  background: #bfc9ff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 59%;
  left: 37%;
}

.bolinhaMedia08 {
  background: #ff9eab;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: absolute;
  top: 55%;
  left: 55%;
}

.bolinhaMedia09 {
  background: #ff9eab;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: absolute;
  top: 60%;
  left: 5%;
}

.bolinhaPequena08 {
  background: #ff9eab;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 82%;
  left: 16%;
}

.bolinhaPequena09 {
  background: #bfc9ff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 60%;
  left: 75%;
}

.bolinhaMedia10 {
  background: #ff9eab;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 48%;
  left: 85%;
}

.bolinhaPequena10 {
  background: #bfc9ff;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: absolute;
  top: 93%;
  left: 2%;
}

.bolinhaMedia11 {
  background: #bfc9ff;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: absolute;
  top: 7.9%;
  left: 10%;
}

.bolinhaPequena12 {
  background: #bfc9ff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 98%;
  left: 80%;
}

.bolinhaPequena11 {
  background: #ff9eab;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 35%;
  left: 15%;
}

/*parte quanto direito*/
.bolinhaMedia12 {
  background: #ff9eab;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: absolute;
  top: 75%;
  left: 90%;
}

.bolinhaMedia13 {
  background: #bfc9ff;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: absolute;
  top: 108.9%;
  left: 94.5%;
}

.bolinhaPequena13 {
  background: #ff9eab;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 128.6%;
  left: 84%;
}

.bolinhaMedia14 {
  background: #ff9eab;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: absolute;
  top: 145%;
  left: 98%;
}

.bolinhaPequena14 {
  background: #bfc9ff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 158%;
  left: 83%;
}

/*parte quanto esquerdo*/

.bolinhaPequena15 {
  background: #bfc9ff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 118%;
  left: 13%;
}

.bolinhaMedia15 {
  background: #ff9eab;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: absolute;
  top: 140%;
  left: 2.9%;
}

.bolinhaPequena16 {
  background: #ff9eab;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 155%;
  left: 20%;
}

/*Parte de baixo*/

.bolinhaMedia16 {
  background: #bfc9ff;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: absolute;
  top: 168%;
  left: 8%;
}

.bolinhaMedia17 {
  background: #bfc9ff;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: absolute;
  top: 178%;
  left: 93%;
}

.bolinhaPequena17 {
  background: #ff9eab;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 188%;
  left: 2%;
}

.bolinhaPequena18 {
  background: #bfc9ff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 182%;
  left: 20%;
}

.bolinhaMedia18 {
  background: #ff9eab;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: absolute;
  top: 186.9%;
  left: 78%;
}

.bolinhaMedia19 {
  background: #ff9eab;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: absolute;
  top: 198.9%;
  left: 10%;
}

.bolinhaPequena19 {
  background: #bfc9ff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 172%;
  left: 32%;
}

.bolinhaMedia20 {
  background: #ff9eab;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: absolute;
  top: 198%;
  left: 30%;
}

.bolinhaPequena20 {
  background: #bfc9ff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 188%;
  left: 45%;
}

.bolinhaPequena21 {
  background: #bfc9ff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 205%;
  left: 53%;
}

.bolinhaMedia21 {
  background: #ff9eab;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: absolute;
  top: 168%;
  left: 48%;
}

.bolinhaPequena22 {
  background: #bfc9ff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 205%;
  left: 99%;
}

.bolinhaPequena23 {
  background: #bfc9ff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 175%;
  left: 66%;
}

.bolinhaMedia22 {
  background: #ff9eab;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: absolute;
  top: 210%;
  left: 88%;
}

.bolinhaPequena24 {
  background: #bfc9ff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 201%;
  left: 68%;
}

.bolinhaMedia23 {
  background: #bfc9ff;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: absolute;
  top: 216%;
  left: 20%;
}

.bolinhaPequena24 {
  background: #bfc9ff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 213%;
  left: -1%;
}

.bolinhaMedia24 {
  background: #ff9eab;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: absolute;
  top: 220%;
  left: 40%;
}

.bolinhaMedia25 {
  background: #ff9eab;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: absolute;
  top: 198%;
  left: 65%;
}

.bolinhaPequena25 {
  background: #bfc9ff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 213%;
  left: 75%;
}
.bolinhaPequena26 {
  background: #bfc9ff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 220%;
  left: 60%;
}

/*Texto*/
.container {
  width: 100%;
  height: 180vh;
  position: absolute;
  top: 16%;
}

.texto {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 55px;
  width: 100%;
  height: 30vh;
  right: -10px;
}

.docura {
  width: 45%;
  position: relative;
  font-size: max(18px, 1.8vw);
  font-weight: 400;
  color: #000;
  font-family: "Poppins", sans-serif;
  text-align: center;
  bottom: -25px;
}

/*produtos*/
.produto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  top: -8vh;
  position: relative;
  left: 2.2vh;
  overflow: hidden;
}

.produto01,
.produto03 {
  background-color: #fff;
  border-radius: 20px;
  height: 5.5vh;
  font-size: max(15px, 1vw);
  cursor: pointer;
  transition: all 80ms ease-in-out;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  width: 9%;
  margin: 10px;
  color: #6b0206;
  border: 2.3px solid #6b0206;
  text-align: center;
  font-weight: 500;
}

.produto01:hover,
.produto03:hover {
  background: #6b0206;
  color: #fff;
  border-color: #6b0206;
  transform: scale(0.9);
}

.produto02 {
  background-color: #fff;
  background-color: #fff;
  border-radius: 20px;
  height: 5.5vh;
  font-size: max(15px, 1vw);
  cursor: pointer;
  transition: all 80ms ease-in-out;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  width: 9%;
  margin: 10px;
  color: #fff;
  background: #6b0206;
  border: 2.3px solid #6b0206;
  text-align: center;
  font-weight: 500;
}

.produto02:hover {
  background: #fff;
  color: #6b0206;
  border-color: #6b0206;
  transform: scale(0.9); /* Reduza o tamanho ao passar o mouse */
}
/*imagens da vitrine*/

.imagens {
  bottom: 30px;
  width: 100%;
  height: 125vh;
  position: relative;
  left: 1.5vw;
}

.comida {
  width: 70%;
  height: 100vh;
  position: relative;
  left: 22vw;
  margin-left: -15px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.BoloKitKat,
.BoloBrigadeiro,
.BoloLaranja,
.BoloBranco,
.BoloMorango,
.BoloChocolate {
  width: 241px;
  height: 300px;
  margin: 20px;
  border: 2.3px solid #6b0206;
  border-radius: 35px;
}

/*Botões de acões*/

.açoes {
  display: flex;
  justify-content: center;
  gap: 22px;
  margin-top: -22px;
  margin-bottom: 25px;
  left: -14vh;
  position: relative;
}

.alterações {
  background-color: #fff;
  width: 16%;
  padding: 5px;
  height: 5.5vh;
  border-radius: 20px;
  font-size: 16px;
  border: 2.3px solid #6b0206;
  color: #6b0206;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  top: 8vh;
  position: relative;
  display: flex;
  align-items: center;
}

.visializar {
  background-color: #fff;
  width: 16%;
  padding: 5px;
  height: 5.5vh;
  border-radius: 20px;
  font-size: 16px;
  border: 2.3px solid #6b0206;
  color: #6b0206;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  top: 8vh;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
}

.alterações:hover,
.visializar:hover {
  background: #6b0206;
  color: #fff;
  border-color: #6b0206;
}

@media screen and (max-width: 1440px) {
  .whatsapp {
    top: 58vw;
  }

  .circle {
    top: 56.2vw;
    left: 90.9vw;
  }

  .fa-whatsapp {
    font-size: 32px;
  }

  .imagens {
    left: 0.2vh;
  }

  .produto01,
  .produto02,
  .produto03 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1360px) {
  .whatsapp {
    top: 52vw;
  }
  .circle {
    top: 50.2vw;
    left: 91.5vw;
  }

  .imagens {
    left: -2.6vh;
  }

  .produto01,
  .produto02,
  .produto03 {
    height: 6.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1280px) {
  .produto01,
  .produto02,
  .produto03 {
    height: 6vh;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .imagens {
    left: -3.5vw;
  }

  .açoes {
    left: -1.5vw;
  }
  .circle {
    top: 70.5vw;
    left: 90.5vw;
  }

  .fa-whatsapp {
    font-size: 30px;
    left: 0.8vw;
    top: 0.5vw;
  }
  .whatsapp {
    top: 72vw;
    left: 92vw;
  }
}
@media screen and (max-width: 1200px) {
  .comida {
    left: 32vw;
  }

  .backgroud {
    height: 90vh;
  }
  .açoes {
    left: -11vw;
  }
}

@media screen and (max-width: 1120px) {
  .produto01,
  .produto02,
  .produto03 {
    height: 8vh;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .imagens {
    left: -5.5vw;
  }
  .backgroud {
    height: 98vh;
  }
  .açoes {
    left: -10vw;
  }
  .circle {
    top: 44vw;
    left: 91.9vw;
  }

  .fa-whatsapp {
    font-size: 30px;
    left: 0.7vw;
    top: 0.3vw;
  }
  .whatsapp {
    top: 46vw;
    left: 93.5vw;
  }
}

@media screen and (max-width: 1024px) {
  .produto01,
  .produto02,
  .produto03 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
    height: 5.5vh;
    padding: 11px;
  }

  .açoes {
    left: -7vw;
  }

  .backgroud {
    height: 65vh;
  }
  .imagens {
    top: -13vh;
    left: -10.5vh;
  }
  .texto {
    top: -13vh;
  }
  .backgroud {
    height: 88vh;
  }

  .produto {
    top: -18vh;
    left: 1vh;
  }

  .circle {
    width: 7vw;
    height: 7vw;
    left: 86.5vw;
    top: 88.9vh;
  }

  .fa-whatsapp {
    left: 1.7vw;
    font-size: 44px;
    top: 1.5vh;
  }

  .whatsapp {
    top: 93.5vh;
    left: 90vw;
  }
}

@media screen and (max-width: 480px) {
  .açoes .alterações {
    background-color: #fff;
    width: 150px;
    padding: 5px;
    height: 5.5vh;
    border-radius: 20px;
    font-size: 16px;
    border: 2.3px solid #6b0206;
    color: #6b0206;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    top: 8vh;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 11.8px;
  }

  .visializar {
    background-color: #fff;
    width: 100px;
    padding-left: 10px;
    height: 5.5vh;
    border-radius: 20px;
    font-size: 16px;
    border: 2.3px solid #6b0206;
    color: #6b0206;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    top: 8vh;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    padding: 15px;
    font-size: 11.8px;
  }
  .nav {
    padding: 1.5rem 4rem;
  }

  .sections,
  .icons,
  .containerNavBar a {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .containerNavBar .logo {
    width: 40px;
    height: 40px;
  }

  .containerNavBar .logo img {
    width: 45px;
    height: 45px;
  }

  .menu {
    width: 45px;
    height: 45px;
    position: relative;
    background: transparent;
    border: none;
    color: #6b0206;
    cursor: pointer;
    left: 85vw;
    top: 4vw;
    position: relative;
    z-index: 5;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    background: #fff;
    z-index: 4;
    top: 16.9vw;
    left: 0vh;
  }

  .mobile-menu li {
    height: 6vh;
    width: 100vw;
    top: -6vw;
    position: relative;
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }

  .mobile-menu .icons-button {
    display: block;
    padding: 1rem 2rem;
  }

  .mobile-menu .icons-button i {
    width: 100%;
  }

  .open {
    display: block;
  }

  .menu,
  .fa-x {
    font-size: 26px;
  }

  .icons-button {
    left: 21vh;
    position: relative;
  }

  .nav-item a,
  .fa-config {
    color: #6b0206;
  }

  .nav-item li {
    font-size: 18px;
  }

  .icons .circuloIcon {
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;

    transition: all 80ms ease-in-out;
  }

  .icons .circuloIcon:hover {
    transform: scale(0.9);
    cursor: pointer;
  }

  .nav-item a {
    color: #6b0206;
    font-size: 19px;
    transition: all 80ms ease-in-out;
  }

  .nav-item a:hover {
    text-decoration: underline 3px white;
    transform: scale(0.9);
  }

  .backgroud {
    height: 128vh;
    width: 100%;
  }

  .bolinhaPequena01 {
    left: 0vh;
    top: 14vh;
  }
  .bolinhaMedia01 {
    top: 40vh;
  }
  .bolinhaPequena02 {
    top: 3vh;
    left: 40vh;
  }
  .bolinhaMedia02 {
    top: 8vh;
    left: 22vh;
  }

  .bolinhaMedia03 {
    top: 20vh;
  }

  .bolinhaPequena03 {
    top: 62vh;
    left: 45vh;
    background: #ff9eab;
  }

  .bolinhaPequena04 {
    top: 20vh;
    display: none;
  }

  .bolinhaMedia04 {
    top: 45vh;
    display: none; /*o do meio*/
    left: 25vh;
  }

  .bolinhaMedia05 {
    left: 2vh;
    display: none;
    top: 55vh;
  }

  .bolinhaPequena06 {
    top: 64vh;
    left: 2vh;
  }

  .bolinhaMedia06 {
    top: 14vh;
    left: -10px;
    top: 40vh;
  }

  .bolinhaPequena07 {
    display: none;
    z-index: 9;
  }

  .bolinhaMedia07 {
    display: none;
    z-index: 8;
  }

  .bolinhaPequena08 {
    left: 4vh;
    top: 100vh;
  }

  .bolinhaMedia08 {
    left: -1vh;
    background: #bfc9ff;
    top: 80vh;
  }

  .bolinhaPequena09 {
    top: 82vh;
  }

  .bolinhaMedia09 {
    left: 9vh;
    display: none;
  }

  .bolinhaPequena10 {
    top: 124vh;
  }

  .bolinhaMedia10 {
    top: 68vh;
    display: none;
  }

  .bolinhaPequena11 {
    left: 5vh;
    display: none;
  }

  .bolinhaMedia11 {
    top: 2vh;
  }

  .bolinhaMedia12 {
    top: 100vh;
  }

  .bolinhaMedia13 {
    top: 145vh;
  }

  .bolinhaMedia14 {
    left: 45vh;
  }

  .bolinhaMedia16 {
    top: 218vh;
  }

  .bolinhaMedia17 {
    top: 225vh;
  }

  .bolinhaMedia18 {
    top: 245vh;
  }

  .bolinhaMedia19 {
    display: none;
  }

  .bolinhaMedia21 {
    display: none;
  }

  .bolinhaMedia22 {
    top: 258vh;
    left: 35vh;
  }

  .bolinhaMedia23 {
    top: 275vh;
    left: 2vh;
  }

  .bolinhaMedia25 {
    display: none;
  }
  .bolinhaMedia26 {
    width: 50%;
  }
  .bolinhaMedia27 {
    display: none;
  }

  .bolinhaPequena16 {
    display: none;
  }

  .bolinhaPequena18 {
    display: none;
  }

  .bolinhaPequena19 {
    display: none;
  }

  .bolinhaPequena20 {
    display: none;
  }

  .bolinhaPequena21 {
    left: 4vh;
  }

  .bolinhaPequena24 {
    left: 22vh;
    top: 268vh;
  }

  .bolinhaPequena25 {
    background: #ff9eab;
  }

  .bolinhaPequena26 {
    left: 42vh;
  }

  .bolinhaPequena27 {
    width: 50%;
  }

  .produto {
    left: 1.2vh;
  }

  .produto02,
  .produto03,
  .produto01 {
    width: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    top: 18vh;
    font-family: 11.8px;
  }

  .imagens {
    left: -3.5vh;
    top: -32vw;
  }

  .alterações {
    width: 40%;
    padding: 5px;
    font-family: 11.8px;
  }

  .açoes {
    left: -3.2vh;
    top: -1vh;
  }

  .whatsapp::before,
  .whatsapp::after {
    display: none;
  }

  .fa-whatsapp {
    left: 2.3vw;
    top: 1.8vw;
    font-size: 35px;
  }
  .circle {
    font-size: 33px;
    width: 11vw;
    height: 11vw;
    left: 85vw;
    top: 165vw;
    z-index: 8;
  }
}

@media screen and (max-width: 428px) {
  .açoes {
    left: -2.9vw;
  }

  .fa-whatsapp {
    left: 1vh;
    top: 1.2vw;
  }
}

@media screen and (max-width: 393px) {
  .docura {
    font-size: 15px;
    top: 20vh;
  }

  .texto {
    width: 100%;
    height: 5vh;
    left: 0vh;
  }

  .bolinhaPequena06 {
    top: 52vh;
  }

  .produto01,
  .produto02,
  .produto03 {
    font-size: 11.2px;
    font-weight: none;
    width: 30%;
  }

  .produto {
    top: 12vh;
    left: 0.5vh;
    padding: 10px;
    margin-left: 12px;
    margin-right: 12px;
  }
  .imagens {
    left: -3vh;
    top: 12vh;
  }

  .BoloKitKat,
  .BoloBrigadeiro,
  .BoloLaranja,
  .BoloBranco,
  .BoloMorango,
  .BoloChocolate {
    width: 180px;
    height: 190px;
  }

  .açoes {
    left: -1.2vh;
  }

  .alterações {
    width: 45%;
    font-size: 11.2px;
  }

  .fa-whatsapp {
    left: 1vh;
    top: 1vw;
    font-size: 29px;
  }
  .circle {
    font-size: 29px;
    width: 10vw;
    height: 10vw;
    left: 80vw;
    top: 155vw;
    z-index: 8;
  }

  .bolinhaMedia02 {
    display: none;
  }

  .açoes {
    left: -6.4vw;
  }

  .açoes .alterações {
    font-size: 11.2px;
  }

  .visializar {
    font-size: 11.2px;
}
}

@media screen and (max-width: 375px) {
  .docura {
    font-size: 15px;
    top: 20vh;
  }

  .texto {
    width: 100%;
    height: 5vh;
    left: 0vh;
  }

  .bolinhaPequena06 {
    top: 52vh;
  }

  .produto01,
  .produto02,
  .produto03 {
    font-size: 10.2px;
    font-weight: none;
    width: 40%;
  }

  .produto {
    top: 12vh;
    left: 0.5vh;
    padding: 10px;
    margin-left: 12px;
    margin-right: 12px;
  }
  .imagens {
    left: -15vh;
    top: 12vh;
  }

  .BoloKitKat,
  .BoloBrigadeiro,
  .BoloLaranja,
  .BoloBranco,
  .BoloMorango,
  .BoloChocolate {
    width: 180px;
    height: 190px;
  }

  .açoes {
    left: -1.2vh;
  }

  .alterações {
    width: 45%;
    font-size: 10.2px;
  }

  .fa-whatsapp {
    left: 1vh;
    top: 1vw;
    font-size: 29px;
  }
  .circle {
    font-size: 29px;
    width: 10vw;
    height: 10vw;
    left: 70vw;
    top: 155vw;
    z-index: 8;
  }

  .bolinhaMedia02 {
    display: none;
  }

  .açoes {
    left: -6.4vw;
  }
  .açoes .alterações {
    font-size: 10.2px;
  }

  .visializar {
    font-size: 10.2px;
    padding-top: 5px;
}
}

@media screen and (max-width: 320px) {
  .docura {
    font-size: 12px;
  }

  .texto {
    top: -18vw;
    left: 2;
  }

  .bolinhaPequena06 {
    top: 52vh;
  }

  .bolinhaMedia02,
  .bolinhaPequena01,
  .bolinhaMedia03,
  .bolinhaMedia06,
  .bolinhaPequena03,
  .bolinhaPequena08,
  .bolinhaPequena15,
  .bolinhaPequena17,
  .bolinhaPequena21,
  .bolinhaPequena24,
  .bolinhaMedia24,
  .bolinhaMedia18,
  .bolinhaMedia22,
  .bolinhaPequena25,
  .bolinhaPequena23,
  .bolinhaPequena14,
  .bolinhaMedia14,
  .bolinhaMedia13 {
    display: none;
  }

  .produto01,
  .produto02,
  .produto03 {
    font-size: 8.5px;
    font-weight: none;
    height: 6vh;
  }

  .produto {
    top: 12vh;
    left: 0.5vh;
  }
  .imagens {
    left: -5vh;
    top: 14vh;
  }

  .BoloKitKat,
  .BoloBrigadeiro,
  .BoloLaranja,
  .BoloBranco,
  .BoloMorango,
  .BoloChocolate {
    width: 150px;
    height: 160px;
  }

  .açoes {
    left: -2vh;
  }

  .alterações {
    width: 45%;
    font-size: 9px;
  }

  .fa-whatsapp {
    left: 1.5vh;
    font-size: 28px;
    top: 0.9vh;
  }
  .circle {
    font-size: 25px;
    width: 38px;
    height: 38px;
    left: 52vh;
    top: 88vh;
  }

  .açoes .alterações {
    font-size: 9px;
  }

  .visializar {
    font-size: 9px;
    padding-top: 8px;
}
}