@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}

body {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
}

/* Container principal */

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 900px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* container do registro */

.container-registro {
  max-width: 450px;
  width: 100%;
  background: rgb(255, 255, 255);
  padding: 25px;
  border-radius: 0 10px 10px 0;
  backdrop-filter: blur(8px);
}

.container-registro header {
  font-size: 2rem;
  color: #000000;
  font-weight: 700;
}

.e {
  color: #ca3535;
}

.container-registro .form {
  margin-top: 10px;
}

.form .input-box {
  width: 100%;
  margin-bottom: 10px;
}

.input-box label {
  color: #000000;
  font-weight: 550;
}

.form :where(.input-box input, .select-box) {
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #838383;
  margin-top: 8px;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 0 15px;
  transition: 0.3s;
}

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  border: solid 2px #969696;
}

input::placeholder {
  color: rgb(208, 208, 208);
}

.senha {
  color: #ca3535;
  font-size: 1rem;
  font-weight: 500;
}

.entrar {
  padding-bottom: 50px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.ja-tem {
  color: #000000;
  text-align: center;
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 500;
}

.criar {
  color: #000000;
  text-align: center;
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.form .login {
  height: 45px;
  width: 100%;
  margin-top: 30px;
  outline: none;
  border: none;
  background-color: #6b0206;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 800;
  color: white;
  transition: all 0.3s ease;
}

.form .login:hover {
  border: 2px solid black;
  background-color: white;
  color: rgb(0, 0, 0);
  transform: scale(1.02);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.option {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-facebook {
  font-size: 25px;
  color: #1877f2;
}

.login-google {
  display: flex;
  align-items: center;
  padding-left: 5%;
  height: 45px;
  width: 100%;
  margin-top: 30px;
  outline: none;
  border: 2px solid black;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 800;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
}
.login-google:hover {
  border: 2px solid black;
  background-color: white;
  color: rgb(0, 0, 0);
  transform: scale(1.02);
}
.login-facebook:hover {
  border: 2px solid black;
  background-color: white;
  color: rgb(0, 0, 0);
  transform: scale(1.02);
}

.login-facebook {
  display: flex;
  align-items: center;
  padding-left: 5%;
  height: 45px;
  width: 100%;
  margin-top: 30px;
  outline: none;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 800;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
  border: 2px solid black;
}

span.text {
  padding-left: 10px;
}
/* Container Bem-vindo */

.message {
  background-color: #6b0206;
  color: white;
  max-width: 450px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px 0 0 10px;
  padding-top: 10%;
}

.simbol {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.img {
  display: flex;
  justify-content: center;

  width: 140px;
  height: 140px;
  background-color: white;
  border-radius: 50%;
}

.welcome {
  margin-top: 20px;
  font-size: 1.75rem;
  font-weight: 500;
}

.description {
  margin: 35px;
  line-height: 35px;
  letter-spacing: 0.2mm;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 300;
  padding-left: 5%;
}

.att {
  font-size: 1.75rem;
  font-weight: 500;
}

/* Responsivo */

@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }

  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}
