@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

body {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
}

/* Container principal */

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 900px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

/* container do registro */

.container-registro {
    max-width: 450px;
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 10px 0 0 10px;
    backdrop-filter: blur(8px);
}

.container-registro header {
    font-size: 2rem;
    color: #000000;
    font-weight: 700;
}

.c{
    color: #CA3535;
}

.container-registro .form {
    margin-top: 10px;
}

.form .input-box {
    width: 100%;
    margin-bottom: 10px;
}

.input-box label {
    color: #000000;
    font-weight: 550;
}

.form :where(.input-box input, .select-box) {
    height: 40px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #838383;
    margin-top: 8px;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 0 15px;
    transition: .3s;
}

.input-box input:focus{
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    border: solid 2px #969696;
}

input::placeholder{
    color: rgb(208, 208, 208);
}

.conta{
    color: #CA3535;
    font-size: 1rem;
    font-weight: 500;
}

.ja-tem{
    color: #000000;
    text-align: center;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 500;
}

.form button{
    height: 45px;
    width: 100%;
    margin-top: 30px;
    outline: none;
    border: none;
    background-color: #6B0206;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 800;
    color: white;
    transition: all 0.3s ease;
}

.form button:hover{
    border: 2px solid black;
    background-color: white;
    color: rgb(0, 0, 0);
    transform: scale(1.02);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Container Bem-vindo */

.message{
    background-color: #6B0206;
    color: white;
    max-width: 450px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 10%;
    flex-direction: column;
    border-radius: 0 10px 10px 0;
    
}

.simbol{
    width: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.img{
    display: flex;
    justify-content: center;
 
    width: 140px;
    height: 140px;
    background-color: white;
    border-radius: 50%;
}

.welcome{
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 500;
}

.description{
    margin: 35px;
    line-height: 35px;
    letter-spacing: 0.2mm;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 300;
}

.att{
    font-size: 1.75rem;
    font-weight: 500;
}

/* Responsivo */

@media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }

    .form :where(.gender-option, .gender) {
        row-gap: 15px;
    }
}