@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Lexend", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --iconSize: 38px;
  --color1: #6b0206;
}

body {
  height: 100vh;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 1080px;
  max-width: 100%;
  min-height: 720px;
  background: #ffffff;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  position: relative;
}

.container .redLetter {
  color: var(--color1);
}

.container h2 {
  font-size: 2.2rem;
}

.container .info {
  display: flex;
  flex-direction: column;
}

.container .info label {
  font-size: 1.5rem;
}

.container .info input {
  width: 350px;
  height: 35px;
  font-size: 1.1rem;
  padding-left: 10px;
  border-radius: 5px;
  border: 2px solid #b9b9b9;
}

.container .info input:focus {
  outline: 2.5px solid var(--color1);
  border: none;
}
.container .info2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
}
.container .info2 a {
  color: var(--color1);
  font-weight: 600;
}

.container .info2 a:hover {
  border-bottom: 3px solid #6b0206;
  border-radius: 3px;
}
.container .or {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 350px;
}

.container .or .line {
  width: 10rem;
  height: 4.5px;
  background: var(--color1);
  border-radius: 3px;
}

.container .or p {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color1);
}

.container .social .icon {
  width: var(--iconSize);
  height: var(--iconSize);
}
.container .social {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  gap: 10px;
}

.container button {
  transition: all 80ms ease-in-out;
  width: 350px;
  background: var(--color1);
  color: #ffffff;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.container .social .socialBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000000;
  border: 3px solid #000000;
  background: transparent;
}

.container .btn {
  height: 45px;
}

button:hover {
  cursor: pointer;
  transform: scale(0.9);
}
.container button:active {
  transform: scale(0.9);
}
.container button.socialBtn:focus {
  outline: none;
  border-color: #0671c9;
}
.container button.focus:focus {
  outline: 2.5px solid #000000;
}

.container button.hidden {
  background: transparent;
  border: 3px solid #fff;
  height: 45px;
}

.container form {
  background: #fff;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.formContainer {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.signIn {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.active .signIn {
  transform: translateX(100%);
}

.signUp {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.active .signUp {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.toggleContainer {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  z-index: 1000;
}
.container.active .toggleContainer {
  transform: translateX(-100%);
}

.toggle {
  background-color: var(--color1);
  height: 100%;
  width: 200%;
  color: #fff;
  position: relative;
  left: -100%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container.active .toggle {
  transform: translateX(50%);
}

.togglePanel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.togglePanel button {
  margin-top: 2.5rem;
}

.toggleLeft {
  transform: translateX(200%);
}

.container.active .toggleLeft {
  transform: translateX(0);
}

.toggleRight {
  right: 0;
  transform: translateX(0);
}

.container.active .toggleRight {
  transform: translateX(-200%);
}

.toggle .toggleImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 50%;
  margin-bottom: 20px;
}

.toggle .toggleImg img {
  width: 150px;
  height: 170px;
}
@media screen and (max-width: 480px) {
  .toggleContainer {
    display: none;
  }
  .signIn,
  .signUp {
    width: 100%;
  }
  .signUp {
    margin-left: -100%;
  }
  .container h3 {
    width: 100%;
    text-align: center;
  }

  span.conta {
    color: var(--color1);
  }
  span.conta:hover {
    cursor: pointer;
  }

  .container h3 {
    margin-top: 5px;
  }
}
@media screen and (min-width: 481px) {
  .container h3 {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    width: 950px;
  }
}
