@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #87ceeb;
  margin-bottom: 200px;
}
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.containerIndex {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1001;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* BACKGROUD */
.background {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.circle1 {
  width: 300px;
  height: 300px;
  border: 50px solid #34849c;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: -2%;
  left: -5%;
  z-index: 1;
}
.circle2 {
  width: 300px;
  height: 300px;
  border: 50px solid #34849c;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  left: 10%;
  bottom: -12%;
  margin-top: 650px;
  z-index: 1;
}

.ladoRoxo {
  width: 100%;
  height: 100%;
  clip-path: url(#Roxo);
  overflow-x: hidden;
}

.ladoRoxo {
  top: 0;
  height: 2024px;
  position: absolute;
  left: 50%;
  background-color: #756ca7;
}

.circle3 {
  width: 300px;
  height: 300px;
  border: 50px solid #4c38ba;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 50%;
  right: -10%;
  transform: translateY(-50%);
  z-index: 300;
}

/* LIVROS */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: calc(110vh - 200px);
  width: 1000px;
  margin-top: 150px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  overflow: auto;
  border: 4px solid #800020;
  padding: 50px;
  z-index: 500;
}

.container::-webkit-scrollbar {
  display: none;
}

.pulando {
  transform: translateY(-10px);
}

/* LIVRO1 */
.livro {
  position: relative;
  width: 270px;
  height: 310px;
  flex: 1 1 270px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.livro:hover {
  transform: translateY(-10px);
}

.capa {
  z-index: 3;
  position: absolute;
  top: 0;
  background: #bc5050;
  width: 187px;
  height: 250px;
  border-radius: 10px 0 0 10px;
}

.pagina {
  z-index: 2;
  position: absolute;
  top: 15px;
  left: 148px;
  width: 50px;
  height: 225px;
  background: #ffffff;
}

.contracapa {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 207px;
  height: 250px;
  background: #771919;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.bandeira {
  position: absolute;
  top: 0;
  left: 150px;
  z-index: 4;
  width: 25px;
  height: 40px;
  background: rgb(72, 101, 243);
  clip-path: polygon(50% 55%, 100% 100%, 100% 0, 0 0, 0 100%);
}

h2 {
  display: flex;
  text-align: center;
  color: #fff;
  margin-top: 80px;
}

.livro p {
  position: absolute;
  bottom: 70px;
  left: 10px;
  z-index: 5;
  color: white;
  font-weight: 200;
}

/* LIVRO2 */
#livro2 .bandeira {
  background: rgb(0, 0, 0);
}

#livro2 .capa {
  background: #5764ba;
}

#livro2 .contracapa {
  background: #0016a4;
}

#livro2 h2 {
  display: flex;
  text-align: center;
  color: #fff;
  margin-top: 80px;
}

/* LIVRO3 */
#livro3 .capa {
  background: #7dbe7d;
}

#livro3 .contracapa {
  background: #007f19;
}

#livro3 .bandeira {
  background: #7a8478;
}

/* LIVRO4 */
#livro4 .capa {
  background: #ffcc00;
}

#livro4 .contracapa {
  background: #b56c00;
}

#livro4 .bandeira {
  background: #960000;
}

#livro4 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-top: 80px;
  padding: 25px;
}
/* LIVRO5 */
#livro5 .capa {
  background: #cc99ff;
}

#livro5 .contracapa {
  background: #9900cc;
}

#livro5 .bandeira {
  background: #b8357f;
}

#livro5 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 20px;
}

/* LIVRO6 */

#livro6 .capa {
  background: #ab1672;
}

#livro6 .contracapa {
  background: #67003f;
}

#livro6 .bandeira {
  background: #7d35b8;
}

#livro6 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 25px;
}
#livro7 .capa {
  background: #7b9e3e;
}

#livro7 .contracapa {
  background: #416701;
}

#livro7 .bandeira {
  background: #e2e7e5;
}

#livro7 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-top: 80px;
  padding: 37px;
}

#livro8 .capa {
  background: #00bfb5;
}

#livro8 .contracapa {
  background: #00706a;
}

#livro8 .bandeira {
  background: #278f52;
}

#livro8 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 30px;
}

#livro9 .capa {
  background: #508bf1;
}

#livro9 .contracapa {
  background: #0500a0;
}

#livro9 .bandeira {
  background: #adcdff;
}

#livro9 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 20px;
}

@media screen and (max-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: auto auto;
    width: 700px;
    padding: 0;
    padding-top: 20px;
    padding-left: 50px;
  }
  .circle1,
  .circle2,
  .circle3 {
    width: 230px;
    height: 230px;
  }
  .circle1 {
    left: -20%;
  }
  .circle2 {
    left: 0%;
  }
  .circle3 {
    top: 60%;
    right: -25%;
  }
}
@media screen and (max-width: 480px) {
  .container {
    display: grid;
    grid-template-columns: auto;
    width: 300px;
    padding: 0;
    padding-top: 20px;
    padding-left: 50px;
  }
}

@media screen and (max-width: 900px) {
  .mobile-menu-icon {
    position: absolute;
    z-index: 10;
  }
  .container {
    z-index: 1;
  }
}
